<nav class="nav">
  <ul>
    <li>
      <a routerLink="/beauty" routerLinkActive="active" class="test">Beauty</a>
    </li>
    <li>
      <a routerLink="/men-watches" routerLinkActive="active">Men-watches</a>
    </li>
    <li>
      <a routerLink="/men-shoes" routerLinkActive="active">Men Shoes</a>
    </li>
    <li>
      <a routerLink="/men-shirts" routerLinkActive="active">Men-shirts</a>
    </li>
    <li>
      <a routerLink="/laptops" routerLinkActive="active">Laptops</a>
    </li>
    <li>
      <a routerLink="/groceries" routerLinkActive="active">Groceries</a>
    </li>
    <li>
      <a routerLink="/furniture" routerLinkActive="active">Furniture</a>
    </li>
  </ul>
</nav>
