.nav ul {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  padding: 1rem;
}
.nav {
  background-color: #eaeaea;
}
.nav ul li a {
  color: black;
  font-weight: 500;
}
.nav ul li a {
  transition: 0.2s;
}
.nav ul li a:hover {
  color: orange;
  font-weight: 500;
}
