.beauty_container {
  display: flex;
}
img {
  max-width: 40rem;
  width: 100%;
}
.product_details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: flex-start;
}
.product_details h5 {
  color: green;
  font-weight: bold;
}
.title {
  font-size: 2.7rem;
  font-weight: bold;
}
.desc {
  font: 16px;
  color: gray;
  line-height: 1.5rem;
  letter-spacing: 1px;
}
.price {
  font-size: 1.5rem;
  font-weight: bold;
}
.add_btn {
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 2.5rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}
@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}
.images {
  display: flex;
  justify-content: center;
}
.small_img {
  max-width: 8rem;
}
.qty_wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}
